Repository modded-factorio/bobsmods, pull requests merged in 2022-10, with the labels that each got.

#52 Fix Infinite worker robot cargo size tech icon and level
  boblogistics/changelog.txt
  boblogistics/locale/en/boblogistics.cfg
  boblogistics/migrations/boblogistics_1.1.6.json
  boblogistics/prototypes/technology-logistics.lua
Labels: bug, Bob's Logistics

#80 Updated reactor pipe graphics.
  bobpower/changelog.txt
  bobpower/graphics/nuclear-reactor/hr-reactor-pipes-2.png
  bobpower/graphics/nuclear-reactor/hr-reactor-pipes-3.png
  bobpower/graphics/nuclear-reactor/reactor-pipes-2.png
  bobpower/graphics/nuclear-reactor/reactor-pipes-3.png
  bobpower/info.json
  bobpower/prototypes/entity/nuclear.lua
Labels: enhancement, Bob's Power

#79 8-directional plasma cannons
  bobwarfare/changelog.txt
  bobwarfare/graphics/entities/laser-turret/hr-laser-turret-folded-8.png
  bobwarfare/graphics/entities/laser-turret/hr-laser-turret-folded-mask-8.png
  bobwarfare/graphics/entities/laser-turret/hr-laser-turret-folded-shadow-8.png
  bobwarfare/graphics/entities/laser-turret/laser-turret-folded-8.png
  bobwarfare/graphics/entities/laser-turret/laser-turret-folded-mask-8.png
  bobwarfare/graphics/entities/laser-turret/laser-turret-folded-shadow-8.png
  bobwarfare/info.json
  bobwarfare/prototypes/entity/turrets.lua
Labels: enhancement, Bob's Warfare
