Repository modded-factorio/bobsmods, pull requests merged in 2024-02, with the labels that each got.

#170 Remove b+se
  bobassembly/changelog.txt
  bobassembly/data-final-fixes.lua
  bobassembly/data-updates.lua
  bobassembly/info.json
  bobassembly/prototypes/se-updates.lua
  bobclasses/changelog.txt
  bobclasses/data-final-fixes.lua
  bobclasses/data-updates.lua
  bobclasses/info.json
  bobclasses/prototypes/se-updates.lua
  bobequipment/changelog.txt
  bobequipment/data-final-fixes.lua
  bobequipment/data-updates.lua
  bobequipment/info.json
  bobequipment/prototypes/equipment/equipment.lua
  bobequipment/prototypes/item/equipment.lua
  bobequipment/prototypes/recipe/equipment.lua
  bobequipment/prototypes/se-updates.lua
  bobequipment/prototypes/technology/equipment.lua
  boblogistics/changelog.txt
  boblogistics/data-final-fixes.lua
  boblogistics/data-updates.lua
  boblogistics/data.lua
  boblogistics/info.json
  boblogistics/prototypes/entity/pipes.lua
  boblogistics/prototypes/se-stage-1.lua
  boblogistics/prototypes/se-updates.lua
  bobmining/changelog.txt
  bobmining/data-updates.lua
  bobmining/info.json
  bobmining/locale/en/bobmining.cfg
  bobmining/locale/ru/bobmining.cfg
  bobmining/prototypes/se-updates.lua
Labels: mod compatibility, Bob's Logistics, Bob's Assembling machines, Bob's Mining, Bob's Character classes, Bob's Personal Equipment mod

#162 Fix reactor descriptions: fuel requirements
  bobplates/changelog.txt
  bobplates/info.json
  bobplates/locale/en/bobplates.cfg
  bobpower/changelog.txt
  bobpower/info.json
  bobpower/locale/en/bobpower.cfg
  bobpower/prototypes/entity/nuclear.lua
  bobrevamp/changelog.txt
  bobrevamp/data-updates.lua
  bobrevamp/info.json
  bobrevamp/locale/en/bobrevamp.cfg
  bobrevamp/settings.lua
Labels: bug, Bob's Power, Bob's Metals Chemicals and Intermediates, Bob's Revamp

#173 New logistic science graphics
  bobtech/changelog.txt
  bobtech/graphics/icons/logistic-science-pack.png
  bobtech/info.json
  bobtech/prototypes/item/item.lua
Labels: enhancement, Bob's Tech
