Repository modded-factorio/bobsmods, pull requests merged in 2025-01, with the labels that each got.

#266 Fluid subgroup fixes
  bobelectronics/prototypes/chemicals.lua
  bobores/data.lua
  bobores/prototypes/category.lua
  bobores/prototypes/fluids.lua
  bobplates/data-updates.lua
  bobplates/graphics/icons/technology/fluids.png
  bobplates/prototypes/category.lua
  bobplates/prototypes/item/chemicals.lua
  bobplates/prototypes/recipe/chemistry-recipe.lua
  bobrevamp/data-updates.lua
  bobrevamp/data.lua
  bobrevamp/prototypes/hard-mode.lua
  bobrevamp/prototypes/rocket-fuel.lua
  bobrevamp/prototypes/rtg.lua
  bobwarfare/prototypes/recipe/fluid-recipe.lua
Labels: enhancement, Bob's Metals Chemicals and Intermediates, Bob's Warfare, Bob's Electronics, Bob's Revamp, Bob's Ores

#276 2.0 compatibility for bobsenemies
  bobenemies/graphics/entity/fire-flame/fire-flame-13.png
  bobenemies/info.json
  bobenemies/prototypes/alien-artifact.lua
  bobenemies/prototypes/biters.lua
  bobenemies/prototypes/entities.lua
  bobenemies/prototypes/functions.lua
  bobenemies/prototypes/spawners.lua
  bobenemies/prototypes/spitters.lua
  bobenemies/prototypes/worms.lua
Labels: Bob's Enemies, Factorio 2.0

#268 Sulfur revision
  boblogistics/prototypes/recipe/robots-recipe-updates.lua
  bobplates/data-updates.lua
  bobplates/prototypes/technology-updates.lua
  bobrevamp/data-updates.lua
Labels: enhancement, Bob's Metals Chemicals and Intermediates, Factorio 2.0

#279 Pipe icon updates
  boblogistics/changelog.txt
  boblogistics/graphics/icons/pipe/brass-pipe-to-ground.png
  boblogistics/graphics/icons/pipe/brass-pipe.png
  boblogistics/graphics/icons/pipe/bronze-pipe-to-ground.png
  boblogistics/graphics/icons/pipe/bronze-pipe.png
  boblogistics/graphics/icons/pipe/ceramic-pipe-to-ground.png
  boblogistics/graphics/icons/pipe/ceramic-pipe.png
  boblogistics/graphics/icons/pipe/copper-pipe-to-ground.png
  boblogistics/graphics/icons/pipe/copper-pipe.png
  boblogistics/graphics/icons/pipe/copper-tungsten-pipe-to-ground.png
  boblogistics/graphics/icons/pipe/copper-tungsten-pipe.png
  boblogistics/graphics/icons/pipe/nitinol-pipe-to-ground.png
  boblogistics/graphics/icons/pipe/nitinol-pipe.png
  boblogistics/graphics/icons/pipe/plastic-pipe-to-ground.png
  boblogistics/graphics/icons/pipe/plastic-pipe.png
  boblogistics/graphics/icons/pipe/steel-pipe-to-ground.png
  boblogistics/graphics/icons/pipe/steel-pipe.png
  boblogistics/graphics/icons/pipe/stone-pipe-to-ground.png
  boblogistics/graphics/icons/pipe/stone-pipe.png
  boblogistics/graphics/icons/pipe/titanium-pipe-to-ground.png
  boblogistics/graphics/icons/pipe/titanium-pipe.png
  boblogistics/graphics/icons/pipe/tungsten-pipe-to-ground.png
  boblogistics/graphics/icons/pipe/tungsten-pipe.png
  boblogistics/prototypes/entity/pipes.lua
  boblogistics/prototypes/item/pipes.lua
Labels: Bob's Logistics, graphics

#282 Update Bob's Classes mod description.
  bobclasses/info.json
Labels: Bob's Character classes

#289 Enemies color fix
  bobenemies/prototypes/spawners.lua
  bobenemies/prototypes/values.lua
Labels: enhancement, Bob's Enemies, graphics

#288 Sodium hydroxide sink
  bobplates/changelog.txt
  bobplates/graphics/icons/sodium-hydroxide-sink.png
  bobplates/locale/en/bobplates.cfg
  bobplates/prototypes/recipe/chemistry-recipe.lua
  bobplates/prototypes/technology-updates.lua
Labels: enhancement, Bob's Metals Chemicals and Intermediates

#286 Artifact polish
  bobenemies/data-updates.lua
  bobenemies/graphics/icons/alien-artifact-blue.png
  bobenemies/graphics/icons/alien-artifact-green.png
  bobenemies/graphics/icons/alien-artifact-orange.png
  bobenemies/graphics/icons/alien-artifact-purple.png
  bobenemies/graphics/icons/alien-artifact-red.png
  bobenemies/graphics/icons/alien-artifact-yellow.png
  bobenemies/graphics/icons/alien-artifact.png
  bobenemies/graphics/icons/small-alien-artifact-blue.png
  bobenemies/graphics/icons/small-alien-artifact-green.png
  bobenemies/graphics/icons/small-alien-artifact-orange.png
  bobenemies/graphics/icons/small-alien-artifact-purple.png
  bobenemies/graphics/icons/small-alien-artifact-red.png
  bobenemies/graphics/icons/small-alien-artifact-yellow.png
  bobenemies/graphics/icons/small-alien-artifact.png
  bobenemies/prototypes/alien-artifact.lua
Labels: Bob's Enemies

#280 Warfare polish
  bobplates/prototypes/recipe/alien-recipe.lua
  bobplates/prototypes/technology-alien.lua
  bobwarfare/changelog.txt
  bobwarfare/data-updates.lua
  bobwarfare/locale/en/bobwarfare.cfg
  bobwarfare/locale/ru/bobwarfare.cfg
  bobwarfare/prototypes/entity/drone.lua
  bobwarfare/prototypes/entity/projectiles.lua
  bobwarfare/prototypes/entity/turrets.lua
  bobwarfare/prototypes/equipment-grid.lua
  bobwarfare/prototypes/item/ammo.lua
  bobwarfare/prototypes/item/turrets.lua
  bobwarfare/prototypes/recipe/ammo-recipe.lua
  bobwarfare/prototypes/recipe/armor-recipe.lua
  bobwarfare/prototypes/recipe/recipe-updates.lua
  bobwarfare/prototypes/recipe/turrets.lua
  bobwarfare/prototypes/spidertron-updates.lua
  bobwarfare/prototypes/technology/technology-updates.lua
  bobwarfare/prototypes/technology/turrets.lua
Labels: Bob's Warfare

#281 Electronics adjustments
  bobelectronics/data-updates.lua
  bobelectronics/prototypes/electronics.lua
  bobelectronics/prototypes/recipe-updates.lua
  bobelectronics/prototypes/technology-updates.lua
  bobmodules/prototypes/recipe/electronics-updates.lua
  bobplates/prototypes/recipe/resource-recipe.lua
Labels: Bob's Electronics, Bob's Modules

#290 Wood revision
  bobgreenhouse/changelog.txt
  bobgreenhouse/prototypes/updates.lua
  boblogistics/prototypes/recipe/belt-recipe-updates.lua
  boblogistics/prototypes/recipe/belt-recipe.lua
  boblogistics/prototypes/technology-updates.lua
  bobplates/data-updates.lua
  bobplates/prototypes/recipe/parts-recipe.lua
  bobplates/prototypes/technology-updates.lua
  bobplates/prototypes/technology.lua
  bobwarfare/prototypes/recipe/parts-recipe.lua
  bobwarfare/prototypes/recipe/recipe-updates.lua
Labels: Bob's Logistics, Bob's Metals Chemicals and Intermediates, Bob's Warfare, Bob's Greenhouse

#296 Shrink elemental ammo splash radius from 3 to 2
  bobwarfare/prototypes/item/ammo.lua
Labels: Bob's Warfare, Factorio 2.0

#293 Add tungsten gears
  bobmining/prototypes/areadrill-updates.lua
  bobmining/prototypes/drill-updates.lua
  bobpower/prototypes/recipe/fluid-generator-updates.lua
  bobpower/prototypes/recipe/steam-engines-updates.lua
  bobpower/prototypes/recipe/steam-turbines-updates.lua
Labels: enhancement, Bob's Power, Bob's Mining, Factorio 2.0

#297 Final hydrogen fix
  bobplates/data-updates.lua
  bobrevamp/data-updates.lua
Labels: Bob's Metals Chemicals and Intermediates, Bob's Revamp

#299 electrolyser -> bob-electrolyser
  bobplates/data.lua
Labels: Bob's Metals Chemicals and Intermediates

#301 Hide cobalt ore entity from factoriopedia if not needed.
  bobores/data-updates.lua
Labels: Bob's Ores

#300 Adds factoriopedia simulation to match vanilla ores.
  boblibrary/ore-functions.lua
Labels: Bob's Library

#283 Burner reactor balance changes
  bobassembly/prototypes/electrolyser-updates.lua
  bobplates/data-updates.lua
  bobpower/changelog.txt
  bobpower/locale/en/bobpower.cfg
  bobpower/prototypes/burner-reactor.lua
  bobpower/prototypes/entity/steam-turbines.lua
Labels: Bob's Power

#294 Tech pack revision
  bobassembly/prototypes/chemical-plant-updates.lua
  bobassembly/prototypes/electrolyser.lua
  boblogistics/prototypes/recipe/belt-recipe-updates.lua
  bobtech/changelog.txt
  bobtech/graphics/icons/lab-technology.png
  bobtech/graphics/icons/lab0-technology.png
  bobtech/graphics/icons/lab2-technology.png
  bobtech/prototypes/recipe/recipe-updates.lua
  bobtech/prototypes/recipe/recipe.lua
  bobtech/prototypes/technology/technology-updates.lua
Labels: enhancement, Bob's Assembling machines, Bob's Tech, Factorio 2.0

#310 aai typo fix
  boblogistics/prototypes/aai-loaders.lua
Labels: bug, Bob's Logistics

#311 Inserter name changes
  bobinserters/control.lua
  bobinserters/locale/de/bobinserters.cfg
  bobinserters/locale/en/bobinserters.cfg
  bobinserters/locale/ru/bobinserters.cfg
  bobinserters/prototypes/technology-inserter.lua
  boblogistics/control.lua
  boblogistics/prototypes/technology-inserter.lua
  boblogistics/prototypes/technology-updates.lua
Labels: Bob's Logistics, Bob's Adjustable Inserters
