Repository modded-factorio/bobsmods, pull requests merged in 2025-04, with the labels that each got.

#386 Increase tank2+3 cannon range
  bobwarfare/changelog.txt
  bobwarfare/info.json
  bobwarfare/prototypes/item/gun.lua
  bobwarfare/prototypes/spidertron.lua
Labels: Bob's Warfare

#385 Fix chest alt icon scaling
  boblogistics/changelog.txt
  boblogistics/info.json
  boblogistics/prototypes/chests.lua
  boblogistics/prototypes/entity/logistic-container.lua
Labels: Bob's Logistics

#398 Fix productivity in bobelectronics
  bobelectronics/changelog.txt
  bobelectronics/info.json
  bobelectronics/prototypes/electronics.lua
Labels: Bob's Electronics

#407 fix: add missing icon_draw_specification in robots declaration
  boblogistics/prototypes/entity/robots.lua
Labels: bug, Bob's Logistics, graphics

#397 German locale for classes and assembly
  bobassembly/changelog.txt
  bobassembly/info.json
  bobassembly/locale/de/bobassembly.cfg
  bobclasses/changelog.txt
  bobclasses/info.json
  bobclasses/locale/de/bobclasses.cfg
Labels: Bob's Assembling machines, Bob's Character classes

#401 Add item-limitation message
  bobplates/locale/en/bobplates.cfg
Labels: Bob's Metals Chemicals and Intermediates
