Repository modded-factorio/bobsmods, pull requests merged in 2025-02, with the labels that each got.

#322 fixed dimensions for accumulator discharge graphics
  bobpower/prototypes/entity/accumulators.lua
Labels: Bob's Power

#325 Reactor graphics update
  bobrevamp/data-updates.lua
  bobrevamp/graphics/icons/deuterium-reactor-blue.png
  bobrevamp/graphics/icons/deuterium-reactor.png
  bobrevamp/graphics/icons/thorium-reactor.png
Labels: Bob's Power

#324 Lab graphics updates
  bobtech/graphics/entity/lab/lab-alien-light.png
  bobtech/graphics/entity/lab/lab-alien.png
  bobtech/graphics/entity/lab/lab2-light.png
  bobtech/graphics/entity/lab/lab2.png
  bobtech/graphics/icons/lab-technology.png
  bobtech/graphics/icons/lab0-technology.png
  bobtech/graphics/icons/lab2-technology.png
Labels: Bob's Tech

#323 Fix pipe connection position
  bobplates/prototypes/entity/entities.lua
Labels: Bob's Metals Chemicals and Intermediates

#320 Fix thorium glow
  boblibrary/ore-functions.lua
Labels: Bob's Library

#317 fixed factoriopedia entry for logistic-zone-expanders
  boblogistics/prototypes/entity/roboport.lua
Labels: Bob's Logistics

#328 Drawing box fixes
  bobassembly/prototypes/assembly-updates.lua
  bobassembly/prototypes/chemical-plant.lua
  boblogistics/prototypes/entity/roboport.lua
  bobpower/prototypes/burner-generator.lua
  bobtech/prototypes/entity/entity.lua
  bobwarfare/prototypes/entity/tank.lua
  bobwarfare/prototypes/entity/turrets.lua
Labels: Bob's Power, Bob's Logistics, Bob's Warfare, Bob's Assembling machines, Bob's Tech

#329 AAI vehicles adjustments
  bobwarfare/data-final-fixes.lua
  bobwarfare/prototypes/entity/tank.lua
  bobwarfare/prototypes/overides.lua
Labels: mod compatibility, Bob's Warfare

#284 Restore separate con/log robot tools
  boblogistics/data-updates.lua
  boblogistics/graphics/icons/robot-tool-construction.png
  boblogistics/graphics/icons/robot-tool-logistic.png
  boblogistics/locale/en/boblogistics.cfg
  boblogistics/locale/ru/boblogistics.cfg
  boblogistics/prototypes/recipe/robots-recipe-updates.lua
  boblogistics/prototypes/robot-parts.lua
  boblogistics/prototypes/technology-updates.lua
Labels: Bob's Logistics

#335 Void pump graphics fix
  bobplates/graphics/entity/small-pump/small-pump-down.png
  bobplates/prototypes/entity/entities.lua
Labels: Bob's Metals Chemicals and Intermediates, graphics

#336 Fix spidertron military target
  bobenemies/prototypes/categories.lua
  bobwarfare/prototypes/spidertron.lua
Labels: Bob's Warfare
