Repository modded-factorio/bobsmods, pull requests merged in 2025-03, with the labels that each got.

#345 Locale fixes
  bobpower/locale/en/bobpower.cfg
  bobwarfare/locale/en/bobwarfare.cfg
  bobwarfare/prototypes/technology/ammo.lua
Labels: Bob's Power, Bob's Warfare

#344 New quality board icons
  bobmodules/graphics/icons/module-processor-board.png
  bobmodules/graphics/icons/quality-processor-2.png
  bobmodules/graphics/icons/quality-processor-3.png
  bobmodules/graphics/icons/quality-processor.png
  bobmodules/prototypes/item/electronics.lua
Labels: Bob's Modules, graphics

#346 Modules and Enemies sounds+recycling
  bobenemies/data-updates.lua
  bobmodules/data-updates.lua
  bobmodules/prototypes/beacon.lua
  bobmodules/prototypes/item/module-merged.lua
Labels: Bob's Modules, Bob's Enemies

#343 Tips and tricks fixes
  bobelectronics/data.lua
  bobelectronics/prototypes/tips-and-tricks.lua
  boblogistics/data.lua
  boblogistics/prototypes/tips-and-tricks.lua
  bobmodules/data.lua
  bobmodules/locale/en/bobmodules.cfg
  bobmodules/prototypes/tips-and-tricks.lua
  bobplates/data.lua
  bobplates/prototypes/tips-and-tricks.lua
Labels: Bob's Logistics, Bob's Metals Chemicals and Intermediates, Bob's Electronics, Bob's Modules

#341 Achievement fixes
  bobelectronics/graphics/icons/achievement/bob-computer-age-1.png
  bobelectronics/graphics/icons/achievement/bob-computer-age-2.png
  bobelectronics/graphics/icons/achievement/bob-computer-age-3.png
  bobelectronics/locale/en/bobelectronics.cfg
  bobelectronics/prototypes/electronics.lua
  bobplates/graphics/icons/achievement/bob-computer-age-1.png
  bobplates/graphics/icons/achievement/bob-computer-age-2.png
  bobplates/graphics/icons/achievement/bob-computer-age-3.png
  bobplates/locale/en/bobplates.cfg
  bobplates/prototypes/item/electronics.lua
Labels: Bob's Metals Chemicals and Intermediates, Bob's Electronics

#338 Concrete rework
  bobrevamp/prototypes/hard-mode.lua
Labels: Bob's Revamp

#337 Combat Mechanics Overhaul fixes
  bobenemies/data-updates.lua
  bobenemies/info.json
  bobwarfare/data-final-fixes.lua
Labels: Bob's Warfare, Bob's Electronics

#339 Make Disable Roboports setting remove equipment roboports
  bobequipment/data-updates.lua
  bobequipment/info.json
  bobequipment/prototypes/personal-roboport.lua
  bobequipment/prototypes/recipe/updates.lua
  boblogistics/data-updates.lua
  boblogistics/locale/en/boblogistics.cfg
  bobtech/prototypes/technology/technology-updates.lua
  bobvehicleequipment/data-updates.lua
  bobvehicleequipment/prototypes/recipe-updates.lua
  bobvehicleequipment/prototypes/roboport.lua
  bobvehicleequipment/prototypes/technology-updates.lua
Labels: Bob's Logistics, Bob's Tech, Bob's Vehicle Equipment, Bob's Personal Equipment mod

#333 Module recipe updates
  bobmodules/info.json
  bobmodules/prototypes/recipe/electronics-updates.lua
  bobmodules/prototypes/recipe/electronics.lua
  bobmodules/prototypes/recipe/module-merged-updates.lua
  bobmodules/prototypes/recipe/module-updates.lua
  bobmodules/prototypes/recipe/module.lua
Labels: Bob's Modules

#350 Fix function name
  boblibrary/recipe-functions.lua
Labels: Bob's Modules

#352 Add missing secondary_draw_order
  bobassembly/prototypes/assembly-electronics.lua
Labels: Bob's Assembling machines

#349 Recycling compatibility
  bobelectronics/data-updates.lua
  bobelectronics/prototypes/electronics.lua
  bobelectronics/prototypes/resource.lua
  bobenemies/prototypes/alien-artifact.lua
  bobgreenhouse/prototypes/recipes.lua
  bobgreenhouse/prototypes/updates.lua
  boblibrary/auto-bottle.lua
  boblibrary/recipe-functions.lua
  bobplates/data-updates.lua
  bobplates/prototypes/recipe/alien-recipe.lua
  bobplates/prototypes/recipe/alloy-recipe.lua
  bobplates/prototypes/recipe/chemistry-recipe.lua
  bobplates/prototypes/recipe/gems-recipe.lua
  bobplates/prototypes/recipe/nuclear-recipe.lua
  bobplates/prototypes/recipe/plates-recipe.lua
  bobplates/prototypes/recipe/resource-recipe.lua
  bobrevamp/data-updates.lua
  bobrevamp/graphics/icons/ammonium-chloride-reprocessing.png
  bobrevamp/locale/en/bobrevamp.cfg
  bobrevamp/locale/ru/bobrevamp.cfg
  bobrevamp/migrations/bobrevamp_1.3.0.json
  bobrevamp/prototypes/hard-mode.lua
  bobrevamp/prototypes/rocket-fuel.lua
  bobrevamp/prototypes/rtg-updates.lua
  bobrevamp/prototypes/rtg.lua
  bobwarfare/data-updates.lua
  bobwarfare/prototypes/item/gun.lua
  bobwarfare/prototypes/recipe/parts-recipe.lua
  bobwarfare/prototypes/spidertron.lua
Labels: mod compatibility, Factorio 2.0

#351 Recycling updates
  bobassembly/data-updates.lua
  bobclasses/data-updates.lua
  bobelectronics/data-updates.lua
  bobenemies/data-updates.lua
  bobequipment/data-updates.lua
  bobequipment/prototypes/armor.lua
  bobgreenhouse/prototypes/updates.lua
  boblibrary/recipe-functions.lua
  boblogistics/data-updates.lua
  bobmining/data-updates.lua
  bobmodules/data-updates.lua
  bobplates/data-updates.lua
  bobplates/settings-updates.lua
  bobpower/data-updates.lua
  bobrevamp/data-updates.lua
  bobtech/data-updates.lua
  bobvehicleequipment/data-updates.lua
  bobwarfare/data-updates.lua
  bobwarfare/prototypes/equipment-grid.lua
Labels: mod compatibility, Factorio 2.0, quality

#340 Red inserter fix
  boblogistics/data-updates.lua
  boblogistics/prototypes/entity/inserter.lua
Labels: Bob's Logistics, quality

#353 Speed up artifact radar
  bobenemies/control.lua
Labels: Bob's Enemies

#354 Add optional ground water to starting area
  bobores/locale/en/bobores.cfg
  bobores/prototypes/fluids.lua
  bobores/settings.lua
  bobplates/data-updates.lua
Labels: Bob's Metals Chemicals and Intermediates, Bob's Ores

#361 Disable carbon-from-wood at game start
  bobplates/prototypes/recipe/resource-recipe.lua
  bobplates/prototypes/technology.lua
Labels: Bob's Metals Chemicals and Intermediates

#362 New logistics tab icon
  boblogistics/graphics/icons/technology/logistics.png
  boblogistics/prototypes/category.lua
  bobplates/graphics/icons/technology/logistics.png
  bobplates/locale/en/bobplates.cfg
  bobplates/prototypes/category.lua
Labels: Bob's Logistics, Bob's Metals Chemicals and Intermediates, graphics

#365 New fixes for tips and tricks
  boblogistics/prototypes/tips-and-tricks.lua
Labels: bug, Bob's Logistics

#364 Fix pumps connecting to trains
  boblogistics/prototypes/entity/pump.lua
Labels: bug, Bob's Logistics

#366 New achievements
  bobelectronics/graphics/icons/achievement/bob-computer-age-1.png
  bobelectronics/graphics/icons/achievement/bob-computer-age-2.png
  bobelectronics/graphics/icons/achievement/bob-computer-age-3.png
  bobplates/graphics/icons/achievement/bob-computer-age-1.png
  bobplates/graphics/icons/achievement/bob-computer-age-2.png
  bobplates/graphics/icons/achievement/bob-computer-age-3.png
Labels: Bob's Metals Chemicals and Intermediates, Bob's Electronics, graphics

#367 Logstics reorder
  boblogistics/data-updates.lua
  boblogistics/graphics/icons/technology/logistics.png
  boblogistics/prototypes/category.lua
Labels: mod compatibility, Bob's Logistics

#372 Fix silver-plate -> bob-silver-plate for blue boards
  bobelectronics/prototypes/recipe-updates.lua
Labels: Bob's Electronics
