Repository modded-factorio/bobsmods, pull requests merged in 2025-06, with the labels that each got.

#433 Add trash inventory to new chests
  boblogistics/changelog.txt
  boblogistics/prototypes/entity/logistic-container.lua
Labels: Bob's Logistics

#434 Update enemy faction descriptions
  bobenemies/locale/en/bobenemies.cfg
  bobenemies/prototypes/entities.lua
Labels: Bob's Enemies

#430 Fix bug 427: Handle mod conflict for nuclear-fuel-reprocessing recipe.
  bobplates/changelog.txt
  bobplates/data-updates.lua
Labels: mod compatibility, Bob's Metals Chemicals and Intermediates

#432 Added zh-TW language pack for the first time
  bobassembly/changelog.txt
  bobassembly/locale/zh-TW/bobassembly.cfg
  bobclasses/changelog.txt
  bobclasses/locale/zh-TW/bobclasses.cfg
  bobelectronics/changelog.txt
  bobelectronics/locale/zh-TW/bobelectronics.cfg
  bobenemies/changelog.txt
  bobenemies/locale/zh-TW/bobenemies.cfg
  bobequipment/changelog.txt
  bobequipment/locale/zh-TW/bobequipment.cfg
  bobgreenhouse/changelog.txt
  bobgreenhouse/locale/zh-TW/bobgreenhouse.cfg
  bobinserters/changelog.txt
  bobinserters/locale/zh-TW/bobinserters.cfg
  boblibrary/changelog.txt
  boblibrary/locale/zh-TW/boblibrary.cfg
  boblogistics/changelog.txt
  boblogistics/locale/zh-TW/boblogistics.cfg
  bobmining/changelog.txt
  bobmining/locale/zh-TW/bobmining.cfg
  bobmodules/changelog.txt
  bobmodules/locale/zh-TW/bobmodules.cfg
  bobores/changelog.txt
  bobores/locale/zh-TW/bobores.cfg
  bobplates/changelog.txt
  bobplates/locale/zh-TW/bobplates.cfg
  bobpower/changelog.txt
  bobpower/locale/zh-TW/bobpower.cfg
  bobrevamp/changelog.txt
  bobrevamp/locale/zh-TW/bobrevamp.cfg
  bobtech/changelog.txt
  bobtech/locale/zh-TW/bobtech.cfg
  bobvehicleequipment/changelog.txt
  bobvehicleequipment/locale/zh-TW/bobvehicleequipment.cfg
  bobwarfare/changelog.txt
  bobwarfare/locale/zh-TW/bobwarfare.cfg
Labels: locale

#176 Ukrainian Localisation [Partially] & EN+RU fixes
  bobassembly/changelog.txt
  bobassembly/locale/uk/bobassembly.cfg
  bobclasses/changelog.txt
  bobclasses/locale/uk/bobclasses.cfg
  bobelectronics/changelog.txt
  bobelectronics/locale/uk/bobelectronics.cfg
  bobenemies/changelog.txt
  bobenemies/locale/uk/bobenemies.cfg
  bobequipment/changelog.txt
  bobequipment/locale/uk/bobequipment.cfg
  bobgreenhouse/changelog.txt
  bobgreenhouse/locale/uk/bobgreenhouse.cfg
  bobinserters/changelog.txt
  bobinserters/locale/en/bobinserters.cfg
  bobinserters/locale/ru/bobinserters.cfg
  bobinserters/locale/uk/bobinserters.cfg
  boblibrary/changelog.txt
  boblibrary/locale/uk/boblibrary.cfg
  boblogistics/changelog.txt
  boblogistics/locale/uk/boblogistics.cfg
  bobmining/changelog.txt
  bobmining/locale/uk/bobmining.cfg
Labels: locale

#437 Decrease cost of cordite
  bobwarfare/changelog.txt
  bobwarfare/prototypes/recipe/parts-recipe.lua
Labels: enhancement, Bob's Warfare

#438 Add artifacts to all spawners
  bobenemies/changelog.txt
  bobenemies/data-updates.lua
Labels: bug, Bob's Enemies

#435 Add captured_spawner_entity parameter to new spawners
  bobenemies/changelog.txt
  bobenemies/data-updates.lua
  bobenemies/locale/en/bobenemies.cfg
  bobenemies/locale/zh-TW/bobenemies.cfg
  bobenemies/prototypes/functions.lua
  bobenemies/prototypes/spawners.lua
Labels: Bob's Enemies, Space Age

#442 Fix ore walking_sound
  boblibrary/changelog.txt
  boblibrary/ore-functions.lua
Labels: bug, Bob's Library

#446 Allow Greenhouses to take pollution modules
  bobgreenhouse/changelog.txt
  bobgreenhouse/info.json
  bobgreenhouse/prototypes/entities.lua
Labels: enhancement, Bob's Greenhouse
